{% extends "base.html" %} 
{% import "macros.j2" as macros %}
{% block content %} 

    <h3 class="center-align">Create Product <i class="material-icons">control_point</i></h3>

    <form action="{{ url_for('product_details', field_list_id=field_list._id) }}" method="post">
        <div class="card-panel">
            <div class="row">
                <!-- Disabled Customer Input (Visual Indicatior for User) -->
                <div class="input-field col s12 m6">
                    <input type="text" class="validate" name="customer" id="customer" value="{{ field_list.customer }}" disabled>
                    <label for="customer">Customer</label>
                </div>
                <!-- Disabled Department Input -->
                <div class="input-field col s12 m6">
                    <input type="text" class="validate" name="department" id="department" value="{{ field_list.department }}" disabled>
                    <label for="department">Department</label>
                </div>
            </div><hr><br>
            <div class="row">

                {{ macros.form_builder(field_list.commercial_details, "Commercial") }}

            </div>
            <div class="row">
                <!-- submit button -->
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green darken-1 center-align">
                        <i class="material-icons right">check</i> Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}