{% extends "base.html" %} 
{% block content %} 

    <h3 class="center-align">Create Product <i class="material-icons">control_point</i></h3>

    <form action="{{ url_for('customer_select') }}" method="POST">
        <div class="card-panel">
            <div class="row">
                <!-- customer select input -->
                <div class="input-field col s12">
                    <i class="material-icons prefix">domain</i>
                    <select name="customer" id="customer">
                        <!-- cycle over customers list to generate options -->
                        {% for customer in customers %} 
                            <option value="{{ customer.customer_name }}">{{ customer.customer_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="customer">Customer</label>
                </div>
                {% if session.role == "Admin" %} 
                    <div class="input-field col s12">
                        <i class="material-icons prefix">folder_shared</i>
                        <select name="department" id="department">
                            <!-- cycle over customers list to generate options -->
                            {% for department in departments %} 
                                <option value="{{ department.department_name }}">{{ department.department_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="department">Department</label>
                    </div>
                {% endif %}
            </div>
            <!-- submit button -->
            <div class="row col s12 center-align">
                <button type="submit" class="btn-large green accent-3 center-align">
                    <i class="material-icons right">check</i> Submit
                </button>
            </div>
        </div>
    </form>
{% endblock %}