{% extends "base.html" %}
{% import "macros.j2" as macros %}
{% block content %}

    <h3 class="center-align">Upcoming Products</h3>

    <h4>Confirmed <i class="material-icons">check</i></h4>

    {% if completed_products|length %} 
        {{ macros.table_builder(completed_products) }}
    {% else %}
        <h5 class="center-align">No Upcoming Confirmed Products Found</h5>
    {% endif %}
    

    <br><hr>

    <h4>Pending Approval <i class="material-icons">report</i></h4>

    {% if pending_products|length %} 
        {{ macros.table_builder(pending_products, context="pending") }}
    {% else %} 
        <h5 class="center-align">No Upcoming Pending Products Found</h5>
    {% endif %} 
    

{% endblock %}