{% extends "base.html" %} 
{% import "macros.j2" as macros %}
{% block content %} 

    <h3 class="center-align">Product Details</h3>

    <h4><i class="material-icons">credit_card</i> Commercial Details</h4>

    {% if product %} 

        <div class="row" id="product-details">
            {# we cycle through the product dictionary #}

            {{ macros.view_builder(product.items(), context="Commercial") }}

        </div>

    {% endif %}

    <hr>
    {# we cycle through the roles in our roles array #}
    {% for role in roles %} 

        <h4><i class="material-icons">{{ role.role_logo }}</i> {{ role.role_name }} Details</h4>
        {# we check if the there is an object in the product for the role #}
        {% if product[role.role_name.lower()] %} 

            <div class="row">

                {{ macros.view_builder(product[role.role_name.lower()].items()) }}

            </div>

        {% else %} 

            <h5 class="center-align">No {{ role.role_name }} Details Submitted Yet</h5>

        {% endif %}

        <hr>

    {% endfor %}
    
    <br>
    {# Provide options to edit details and print pdf version of form at bottom of view #}
    <div class="row" id="button_div">
        <div class="col s12 center-align">
            {% if (session.role == "Commercial" and session.department == product.department) or session.role == "Admin" %}
                <a href="{{ url_for('delete_product', product_id=product._id) }}" class="btn-large red accent-3 center-align">
                    <i class="material-icons right">cancel</i> Delete Product
                </a>
            {% endif %}
            {% if (session.department == product.department or session.department == "All") and product.status != "Completed - Production Ready" %} 
                <a href="{{ url_for('add_product_details', product_id=product._id) }}" class="btn-large green accent-3 center-align">
                    <i class="material-icons right">edit</i> Edit Details
                </a>
            {% endif %}
            <button type="button" id="print_button" class="btn-large blue accent-3 center-align">
                <i class="material-icons right">local_printshop</i> PDF Form
            </button>
        </div>
    </div>

{% endblock %}